<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <authorization>
      <deny users ="?" />
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Statistics.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>